body {
  background-image: url(bgimage.png);
  background-repeat: repeat;
  background-color: rgb(237, 237, 237);
}

h2 {
  color: #59aaa5;
}

hr {
  border: 2px solid rgb(221, 221, 221);
}

.portfolioNavheading {
  background-color: #59aaa5;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0%;
}

.portfolioNavBar {
  background-color: white;
}

.navLinks {
  color: rgb(153, 153, 153);
  font-size: 1.2rem;
}

.navBorder {
  color: rgb(204, 204, 204);
}

.mainContent {
  background-color: white;
}

.portfolioNavBarHeading {
  padding: 4em;
}

.headerWrapper {
  border-bottom: 2px solid grey;
  border-style: solid;
}
