.portfolioNavBar {
  background-color: #59aaa5;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0%;
}

.navLinks {
  color: rgb(153, 153, 153);
  font-size: 20px;
}

.navBorder {
  color: rgb(204, 204, 204);
}

.portfolioNavBarHeading {
  padding: 4em;
}

.headerWrapper {
  border-bottom: 2px solid grey;
  border-style: solid;
}
