body {
  background-image: url(bgimage.png);
  background-repeat: repeat;
  background-color: rgb(237, 237, 237);
}

h2 {
  color: #59aaa5;
}

hr {
  border: 2px solid rgb(221, 221, 221);
}

.portfolioNavheading {
  background-color: #59aaa5;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  margin: 0%;
}

img {
  z-index: -1;
}

.btn {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #59aaa5;
  color: white;
  font-weight: 500;
}

.portfolioNavBar {
  background-color: white;
}

.navLinks {
  color: rgb(153, 153, 153);
  font-size: 1.2rem;
}

.navBorder {
  color: rgb(204, 204, 204);
}

.mainContent {
  background-color: white;
}

.imgBanner {
  position: absolute;
  bottom: 30px;
  width: 250px;
  height: 50px;
  z-index: 100;
  margin-top: 150px;
  padding: 0px;
  background-color: #59aaa5;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(102, 102, 102);
  color: white;
  text-align: center;
  border-top: 5px solid #59aaa5;
}
